* {
    margin: 0;
    padding: 0;
  }
  .App {
    text-align: center;
    background-color: lightgrey;
    width: 100%;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 1rem;
    
  }
  
  .container {
    box-sizing: border-box;
    border-radius: 1rem;
    width: 90%;
    height: fit-content;
    border: 1px solid gray;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .video-container {
    max-width: max-content;
    height: max-content;
    position: relative;
  }
  
  .sc_cam {
    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
  }
  
  .timer {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    font-size: 10px;
    /* background-color: #ffff; */
    padding: 4px;
    -webkit-text-stroke: 0.1px #ffff;
  }
  
  .btn-container {
    position: absolute;
    bottom: auto;
    right: auto;
    left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 1rem;
    gap: 1rem;
  }
  .spacer {
    width: 100%;
    height: 3.5rem;
  }
  
  .btn-container > button {
    width: max-content;
    font-size: 1rem;
    padding: 12px 8px;
    border-radius: 1rem;
    /* background-color: red; */
    color: #ffff;
    border: none;
  }
  .videoInfo {
  }
  

  .complain-submit-btn-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

 