.nav-container {
    height: 10vh;
    background-color: #443a39;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px;
    font-size: 0.8rem;
    font-weight: 700;
    z-index: 999;
}

.nav_logo {
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.nav_logo:hover{
    opacity: 0.5;
}

.nav_logo img {
    height: 3rem;
}


.navbar_login_options{
    color: #ffff;
    text-decoration: none;
}
.navbar_login_options button {
    padding: 6px 10px;
    border-radius: 8px;
    margin-left: 1rem;
    transition: all 0.5s;
    cursor: pointer;
}

.nav_logout_btn{
    color: #ffff;
    background-color: red;
    border: 1px solid red;
}
.nav_logout_btn:hover{
    color: red;
    background-color: transparent;
    border: 1px solid red;
}

.nav_login_btn{
    color: #ffff;
    background-color: green;
    border: 1px solid green;
}
.nav_login_btn:hover{
    color: green;
    background-color: transparent;
    border: 1px solid green;
}










/* Footer */
.footer-container {
    height: 8vh;
    background-color: #443a39;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px;
    font-size: 0.8rem;
    font-weight: 700;
    z-index: 999 ;
}
.footer_logo_div{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.footer_logo_div img{
    width: 2rem;
}
.credit a{
    color: tomato;
    text-decoration: underline;
}