*{
  margin: 0;
  text-decoration: none;
}
a{
  color: #ffff;
}
.App {
  text-align: center;
  background-color: lightgrey;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.complain-container{
  box-sizing: border-box;
  border-radius: 1rem;
  width: 70%;
  height: 70vh;
  border: 1px solid gray;
  background-color: #ffff;
  display: flex;
  flex-direction: column;
}
.video-container{
  max-width: 100%;
  height: 65vh;
}

.btn-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 5vh;
  border: 1px solid gray;
  border-radius: 1rem;
}